h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 6.25rem;
}

h2{
  font-family: "Zen Maru Gothic", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4.0625rem;
}

h3{
  font-family: "Text Me One", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 1rem 0rem;
 
}

p {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
}

a {
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}