.barra-de-navegacao {
  background-color: #082841;
  padding: 1rem 2rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

li {
  display: inline-block;
}

a {
  color: white;
  margin: 2.5rem;
}

ul>img {
  float: left;
  margin-right: 0.625rem;
  color: white;
  width: 2.5rem;
}


.imagem {
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;

}

.imagem video {
  width: 100%;
  z-index: -1000;
}

div>.bill {
  position: absolute;
  top: 40%;
  left: 95%;
  transform: translate(-100%, -50%);
  color: white;
  font-size: 3.75rem;

}

div>.mario {
  position: absolute;
  top: 45%;
  right: 0;
  transform: translate(0, -50%);
  color: #0F5B85;
  font-size: 3.75rem;
}

/* Normal */

.onda{
  width: 100%;
  position: relative;
  transform: translateX(-60%);
  bottom: 10.625rem;
}

/* Tela menores */

@media screen and (max-width: 768px) {
    .onda {
        left: 60%;
        bottom: 5rem;
        
    }
}

/* Telas maiores */

@media screen and (min-width: 1200px) {
    .onda {
        left: 60%;
        bottom: 12.5rem;
    }
}



.container {
  max-width: 1200px;
  margin: auto;
  
  /* border: 1px solid #ccc; */
}

.definition-section > .container{
  margin-left: 100px;

}

.linhaa {
  width: 100%;
  background-color: #195171;
  margin: 1.2625rem;
  display: flex;
}

.linhab {
  width: 100%;
  margin: 1.2625rem;
  background: #195171;
  display: flex;
}

.filolinha {
  width: 100%;
  display: flex;
  justify-content: center;

}


.definition-section>.container {
  display: flex;
  margin-bottom: 150px;
  margin-right: 320px;

}

.definition-section .container>p {
  margin-top: 3.125rem;
  margin-right: 5.625rem;
  width: 31.25;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
  color: #1f1f1f;

}

.definition-section .container h2 {
  height: 3.125rem;
  font-size: 2.5rem;
  color: #195171;
  display: flex;
  justify-content: center;
  position: relative;
  left: 18%;
}


.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;

}

.image-gallery img {
  max-width: 18.75rem;
  border-radius: 0.75rem;
  height: auto;
  width: 12.5rem;
}


.mulher-mergulho {
  margin-bottom: 3.75rem;
}

.tres-mergulho {
  margin-top: 9.375rem;
  margin-left: 15.625rem;
  position: absolute;

}

.cnidarios-section h2 {
  text-align: center;
  font-size: 2rem;
  color: #195171;
}

.cnidarios-section {
  margin-top: 3.125rem;
}

.carrosel {
  left: 20%;
}

.carroselimg {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.cnidarios-content p {
  display: flex;
  justify-content: left;
}

.peixes-c {
  display: flex;
  position: relative;
  left: 150%;
  top: 5rem;
  max-width: 100%;
  box-sizing: border-box;
}

.peixes-c p {
  font-size: 1.4rem;
  width: 18.75rem;
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: left;
  text-align: left;
}

.cnidarios-content h1 {
  position: absolute;
  display: block;
  color: white;
  z-index: 100;
  margin-top: 6.25rem;
  left: 12%;
  font-size: 9.375rem;
}

.peixes-c h1 {
  position: absolute;
  display: block;
  color: white;
  z-index: 100;
  margin-top: -12rem;
  left: 22%;
  font-size: 9.375rem;
}

.cnidarios-content strong {
  color: black;

}

.peixes-c strong {
  color: black;

}

.cnidarios-content img {
  display: block;
  position: absolute;
  left: 42%;
  margin: auto;
  width: 47rem;
  z-index: -1;
  margin-top: 12.5rem;
  height: 31.25rem;
}

.peixes-c img {
  display: block;
  position: absolute;
  left: 42%;
  margin: auto;
  width: 47rem;
  z-index: -1;
  margin-top: -6rem;
  height: 31.25rem;
}

.peixes-c .ver-button {
  display: flex;
  position: relative;
  left: -15rem;
  top: 8rem;
  cursor: pointer;
}

.cnidarios-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.peixes-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.seta-esquerda {
  background: none;
  border: none;
  transform: translateY(-50%);
  color: black;
  font-size: 6rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  margin-top: 23rem;
  margin-left: 0.625rem;
  z-index: 100;
}

.seta-direita {
  background: none;
  border: none;
  color: #000000;
  font-size: 6rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-top: -29rem;
  margin-right: 0.625rem;
  z-index: 100;
}

.cnidarios-section h2,
.cnidarios-content h3 {
  font-size: 2rem;
}


.cnidarios-content p {
  font-size: 1.4rem;
  position: relative;
  top: 21.875rem;
  width: 18.75rem;
}

.moluscos-gallery {
  position: relative;
  left: 135rem;
}
.Crustaceos-gallery {
  position: relative;
  left: 240rem;
}
.moluscos-gallery h1 {
  left: -20rem;
  top: -12rem;
}


.peixes-content h1 {
  top: -1rem;
  left: 17rem;
}

.Crustaceos-gallery h1 {
  top: -22rem;
  left: -17rem;
}

.moluscos-gallery img {
  display: flex;
  top: -20rem;
  right: 30rem;
}

.peixes-content img {
  display: flex;
  top: -8rem;
}

.Crustaceos-gallery img {
  display: flex;
  top: -29rem;
  left: 15rem;
}
.moluscos-gallery p {
  left: -22rem;
  top: -7rem;
}
.Crustaceos-gallery p {
  left: -12rem;
  top: -19rem;
}

.moluscos-gallery .ver-button {
  display: flex;
  justify-content: center;
  align-items: center;
  left: -20rem;
  top: -8rem;
  width: 40%;
}
.peixes-content .ver-button {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 3rem;
  top: 3rem;
  width: 40%;
}
.Crustaceos-gallery .ver-button {
  display: flex;
  align-items: center;
  left: -8rem;
  top: -20rem;
  width: 40%;
  justify-content: center;
}

.ver-button {
  display: inline-block;
  padding: 0.625rem 3.125rem;
  background-color: #21679c;
  color: white;
  text-decoration: none;
  border-radius: 3.125rem;
  margin-top: 1.875rem;
  font-weight: bold;
  font-size: 0.9375rem;
  position: relative;
  top: 21rem;
  cursor: pointer;
  font-family: "Sofia Sans", sans-serif;
}

.baixo {
  margin-top: 18.75rem;
  color: white;
}

.noticia {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.25rem;
  align-items: center;
}

.noticia p {
  width: 19.75rem;
}

.noticia img {
  width: 100%;
  max-width: 9.375rem;
  border-radius: 0.5rem;
}

.sobre-nos {
  text-align: right;
  position: relative;
  bottom: 50px;
}

.sobre-nos p{
  width: 200px;
  margin-left: 87%;
}

.onda-azul {
  position: relative;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.boneco {
  width: 4.125rem;
  cursor: pointer;
}

.baixo {
  position: relative;
  z-index: 1;
  margin-top: -34rem;
  margin-right: 3.125rem;
  margin-left: 3rem;
}


.barra-de-navegacao a:hover{
  background-color: #53a6ea;;
  padding: 7px 25px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.carrosel a:hover{
  background-color: #1c3787;
  transition: all 0.5s ease;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.7);
}

.sobre-nos img:hover{
  width: 5rem;
  transition: all 0.5s ease;
}

.noticias-section img:hover{
  border: 2px solid #ffffff;
  transition: all 0.5s ease;
  filter: brightness(70%);
  cursor: pointer;
}


