.barra-de-navegacao {
  background-color: #082841;
  padding: 0rem 2rem;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
}


html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

li {
  display: inline-block;
}

ul>li>  .a1{
  position: relative;
  top: 1rem;
}

a {
  color: white;
  margin: 2.5rem;
}


ul>img {
  float: left;
  margin-right: 0.625rem;
  color: white;
  width: 2.5rem;

}

.botao-login{
 position: relative;
 margin-left: 85%;
 bottom: 1.5rem;
 font-size: 1rem;
}

.logina{
  padding: 0.5rem;
  background-color: #0590A9;
  color: #ffffff; 
  border-radius: 1rem;

}

a>button {
  float: right;
  width: 6.5rem;
  padding: 0.5rem;
  background-color: #0590A9;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  margin-left: auto;
}

a>button:hover {
  background-color: #0C2233;
  cursor: pointer;
}

.imagem {
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;

}

.imagem video {
  width: 100%;
  z-index: -1000;
}

div>.bill {
  position: absolute;
  top: 40%;
  left: 95%;
  transform: translate(-100%, -50%);
  color: white;
  font-size: 3.75rem;

}

div>.mario {
  position: absolute;
  top: 45%;
  right: 0;
  transform: translate(0, -50%);
  color: #0F5B85;
  font-size: 3.75rem;
}

/* Normal */

.onda{
  width: 100%;
  position: relative;
  transform: translateX(-60%);
  bottom: 10.625rem;

}



.definition-section > .container{
  margin-left: 100px;
}




.container {
  max-width: 1200px;
  margin: auto;

  /* border: 1px solid #ccc; */
}


.linhaa {
  width: 100%;
  background-color: #195171;
  margin: 1.2625rem;
  display: flex;
}

.linhab {
  width: 100%;
  margin: 1.2625rem;
  background: #195171;
  display: flex;
}

.filolinha {
  width: 100%;
  display: flex;
  justify-content: center;

}


.definition-section>.container {
  display: flex;
  margin-bottom: 150px;
  margin-right: 320px;

}

.definition-section .container>p {
  margin-top: 3.125rem;
  margin-right: 5.625rem;
  width: 31.25;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
  color: #1f1f1f;

}

.definition-section .container h2 {
  height: 3.125rem;
  font-size: 2.5rem;
  color: #195171;
  display: flex;
  justify-content: center;
  position: relative;
  left: 18%;
}


.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;

}

.image-gallery img {
  max-width: 18.75rem;
  border-radius: 0.75rem;
  height: auto;
  width: 12.5rem;
}


.mulher-mergulho {
  margin-bottom: 3.75rem;
}

.tres-mergulho {
  margin-top: 9.375rem;
  margin-left: 15.625rem;
  position: absolute;

}

.cnidarios-section h2 {
  text-align: center;
  font-size: 2rem;
  color: #195171;
}

.cnidarios-section {
  margin-top: 3.125rem;
}

.carrosel {
  left: 20%;
}

.carroselimg {
  transform: translateX(0);
  transition: transform 1.5s ease-in-out;
}

.cnidarios-content p {
  display: flex;
  justify-content: left;
}

.peixes-c {
  display: flex;
  height: 10rem;
  position: relative;
  left: 150%;
  top: 5rem;
  max-width: 100%;
  box-sizing: border-box;
}

.peixes-c p {
  font-size: 1.4rem;
  width: 18.75rem;
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: left;
  text-align: left;
}

.cnidarios-content h1 {
  position: absolute;
  display: block;
  color: white;
  z-index: 100;
  margin-top: 6.25rem;
  left: 12%;
  font-size: 9.375rem;
}

.peixes-c h1 {
  position: absolute;
  display: block;
  color: white;
  z-index: 100;
  margin-top: -12rem;
  left: 22%;
  font-size: 9.375rem;
}

.cnidarios-content strong {
  color: black;

}

.peixes-c strong {
  color: black;

}

.cnidarios-content video {
  display: block;
  position: absolute;
  left: 42%;
  margin: auto;
  width: 47rem;
  z-index: -1;
  margin-top: 12.5rem;
  height: 31.25rem;
}

.peixes-c video {
  display: flex;
  position: absolute;
  left: 42%;
  margin: auto;
  width: 47rem;
  z-index: -1;
  margin-top: -6rem;
  height: 31rem;
}

.peixes-c .ver-button {
  display: flex;
  position: relative;
  left: -15rem;
  top: 8rem;
  cursor: pointer;
}

.cnidarios-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.peixes-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.peixes-content p {
  text-align: left;
}

.seta-esquerda {
  background: none;
  border: none;
  transform: translateY(-50%);
  color: black;
  font-size: 6rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  margin-top: 22rem;
  margin-left: 0.625rem;
  z-index: 100;
}

.seta-direita {
  background: none;
  border: none;
  color: #000000;
  font-size: 6rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-top: -25rem;
  margin-right: 0.625rem;
  z-index: 100;
}

.cnidarios-section h2,
.cnidarios-content h3 {
  font-size: 2rem;
}


.cnidarios-content p {
  font-size: 1.4rem;
  position: relative;
  top: 21.875rem;
  width: 18.75rem;
}

.moluscos-gallery {
  position: relative;
  left: 138rem;
}
.Crustaceos-gallery {
  position: relative;
  left: 240rem;
}
.moluscos-gallery h1 {
  left: -25rem;
  top: -12rem;
}


.peixes-content h1 {
  top: -1rem;
  left: 17rem;
}

.Crustaceos-gallery h1 {
  top: -22rem;
  left: -16rem;
}

.moluscos-gallery video {
  display: flex;
  top: -20rem;
  align-items: center;
  left: 6.5rem;
}

.peixes-content video {
  display: flex;
  top: -8rem;
}

.Crustaceos-gallery video {
  display: flex;
  top: -29rem;
  left: 17.4rem;
}
.moluscos-gallery p {
  left: -24rem;
  top: -7rem;
  text-align: left;
}
.Crustaceos-gallery p {
  left: -12rem;
  top: -19rem;
}

.moluscos-gallery .ver-button {
  display: flex;
  justify-content: center;
  align-items: center;
  left: -24rem;
  top: -8rem;
  width: 38%;
}
.peixes-content .ver-button {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 3rem;
  top: 3rem;
  width: 25%;
}

.Crustaceos-gallery .ver-button {
  display: flex;
  align-items: center;
  left: -12rem;
  top: -20rem;
  width: 38%;
  justify-content: center;
}

.ver-button {
  font-weight: bold;
  font-size: 0.9375rem;
  padding: 0.625rem 3.125rem;
  display: inline-block;
  position: relative;
  top: 21rem; 
  margin-top: 1.875rem;
  cursor: pointer;
  font-family: "Sofia Sans", sans-serif;
  transition: all 0.2s ease-in;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.ver-button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.ver-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.ver-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #1488e1;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.ver-button:hover {
  color: #ffffff;
  border: 1px solid #1488e1;
}

.ver-button:hover:before {
  top: -35%;
  background-color: #1488e1;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.ver-button:hover:after {
  top: -45%;
  background-color: #1488e1;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


.baixo {
  margin-top: 18.75rem;
  color: white;
}

.noticia {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.25rem;
  align-items: center;
}

.noticia p {
  width: 19.75rem;
}

.noticia img {
  width: 100%;
  max-width: 9.375rem;
  border-radius: 0.5rem;
}

.sobre-nos {
  text-align: right;
  position: relative;
  bottom: 50px;
}

.sobre-nos p{
  width: 200px;
  margin-left: 87%;
}

.onda-azul {
  position: relative;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.boneco {
  width: 4.125rem;
  cursor: pointer;
}

.baixo {
  position: relative;
  z-index: 1;
  margin-top: -34rem;
  margin-right: 3.125rem;
  margin-left: 3rem;
}


.barra-de-navegacao .a1:hover{
  background-color: #53a6ea;;
  padding: 7px 25px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.sobre-nos img:hover{
  width: 5rem;
  transition: all 0.5s ease;
}

.noticias-section img:hover{
  border: 2px solid #ffffff;
  transition: all 0.5s ease;
  filter: brightness(70%);
  cursor: pointer;
}

/* Tela menores */

@media screen and (max-width: 768px) {
    .onda {
        left: 60%;
        bottom: 5rem;

    }
}

/* Telas maiores */

@media screen and (min-width: 1200px){
    .onda {
        left: 60%;
        bottom: 9.5rem;
    }

  div>.mario {
    top: 47%;
  }

  .definition-section > .container{
    margin-left: 0px;
  }

  .definition-section .container h2 {
    left: 23%;
  }

  .seta-direita{
    color: white;
  }

  .cnidarios-content p{
    margin-left: 150px;
  }

  .ver-button{
    margin-left: 150px;
  }

  .noticias-section{
    margin-top: 100px;

  }

  .noticias-section h2{
     font-size: 3.0625rem;
  }

  .sobre-nos p {
    margin-left: 83%;

}

@media screen and (min-width: 1300px) {
    .onda {
        left: 60%;
        bottom: 10.5rem;
    }

  .seta-direita{
    color: white;
  }

  .definition-section .container h2 {
      left: 20%;
  }

  .baixo{
    margin-top: -38rem;
  }

  .moluscos-gallery h1{
    left: -20rem;
  }

  .moluscos-gallery img {
    left: 7rem;
  }


  .Crustaceos-gallery img{
    left: 17rem;
  }

  .Crustaceos-gallery h1{
    left: -14rem;
  }

  .moluscos-gallery p{
    left: -15rem;
    top: -9rem;
  }

  .peixes-content p{
    margin-left: 12rem;
  }

  .Crustaceos-gallery p{
    left: -5rem;
  }

  .moluscos-gallery .ver-button {
    display: flex;
    justify-content: center;
    align-items: center;
    left: -23.4rem;
    top: -9rem;
    width: 38%;
  }
  .peixes-content .ver-button {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3rem;
    top: 3rem;
    width: 25%;
  }

  .Crustaceos-gallery .ver-button {
    display: flex;
    align-items: center;
    left: -12rem;
    top: -20rem;
    width: 38%;
    justify-content: center;
  }

}

@media screen and (min-width: 1400px) {
    .seta-direita{
      color: black;
    }

    .definition-section .container h2 {
        left: 16.5%;
    }
}

  @media screen and (min-width: 1500px){
      .onda {
          left: 60%;
          bottom: 12.5rem;
      }


    .seta-direita{
      color: black;
    }

    .sobre-nos p {
        margin-left: 86%;
    }

    .definition-section > .container {
      margin-left: 100px; 
    }
    .definition-section .container h2 {
        left: 17%;
    }

  }



@media screen and (min-width: 1600px) {
    .onda {
        left: 60%;
        bottom: 13.5rem;
    }

    div > .mario {
      top: 45%;
    }

    .sobre-nos p {
      margin-left: 86%;
    }

    .definition-section > .container {
    margin-left: 12.5rem;
    }
  
    .definition-section .container h2 {
      left: 18%;

    }
  
    .definition-section .container p {
    font-size: 1.25rem;
    }
}


@media screen and (min-width: 1900px) {
    .onda {
      left: 60%;
      bottom: 15.5rem;
    }

    .barra-de-navegacao {
      padding: 0.5rem 2rem;
    }

    ul>li>  .a1{
      position: relative;
      top: 0.5rem;
    }
    
    .botao-login{
     position: relative;
     margin-left: 85%;
     bottom: 1rem;
     font-size: 1rem;
    }
    
    

  div>.bill {
    font-size: 4rem;
  }

  div>.mario {
    font-size: 4rem;
  }


    .sobre-nos p {
    margin-left: 90%;
    }

    .definition-section > .container {
      margin-left: 15em;
    }

    .definition-section .container h2 {
    left: 16.5%;

    }

    .definition-section .container p {
    font-size: 1.25rem;
    }
 }
}