.barra-de-navegacao{
  padding: 1rem 2rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 1.25rem;
  background-color:  rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

li{
  display: inline-block;
}

a{
  color: white;
  margin: 2.5rem;
}

ul > img{
  float: left;
  margin-right: 1.25rem; 
  color: white;
  width: 2.5rem;

}

.comeco img{
  width: 100%;
  height: 62.5rem;
}

.comeco h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  color: #ffffff;
  opacity: 75%;
  font-size: 9.375rem;
}

.texto-alto{
  width: 31.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 35%;
  color: #ffffff;
  font-size: 1.375rem;
  text-align: center;
}

.onda-azul img{
  width: 100%;
  height: 70%;
  position: relative;
  bottom: 0.625rem;
}

.conteudo-container{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.CG h2{
  font-size: 4.375rem;
  text-align: center;
}
.CG p{
  width: 50%;
  position: relative;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classificacao h3{
  font-size: 1.875rem;
  text-align: center;
}

.classificacao p{
  width: 50%;
  position: relative;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
}

.Respiração h3{
  font-size: 1.5625rem;
  text-align: center;

}

.Respiração p{
  width: 50%;
  position: relative;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
}

.RP h3{
  font-size: 1.5625rem;
  text-align: center;
}

.RP p{
  width: 50%;
  position: relative;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
}

.Reprodu h3{
  font-size: 1.5625rem;
  text-align: center;
}

.Reprodu p{
  width: 50%;
  position: relative;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
}

hr{
  border: 1px solid black;
  width: 55%;
  margin: 0 20.625rem;
  margin-bottom: 3.125rem;
}

.ondinha img{
  width: 100%;
  display: flex;
}

.box {
  display: flex;
  width: 100%;
  height: 25rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
   font-family: "Urbanist", sans-serif;
}
.box > .ant {
  width: 18rem;
  height: 17rem;
  left: 50%;
  transform: translate(-50%, 12%);
  position: absolute;
  pointer-events: none;
  transition: .5s;
}
.box > .circulo {
  width: 100%;
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom right, #F8A836, #622711);
  clip-path: circle(11rem);
  transition: .5s;
}

.box > .circulo:hover ~ img {
  left: calc(20% + 3rem);
}
.box > .circulo:hover{
  display: flex;
  width: 100%;
  height: 145%;
  clip-path: circle(46rem);
}
.box1 {
  display: flex;
  width: 100%;
  height: 27rem;
  margin-top: 10rem;
  margin-bottom: 11rem;
   font-family: "Urbanist", sans-serif;
}
.box1 > .ant {
  width: 18rem;
  height: 17rem;
  left: 50%;
  transform: translate(-50%, 12%);
  position: absolute;
  pointer-events: none;
  transition: .5s;
}
.box1 > .circulo {
  width: 100%;
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom right, #727280, #BF9C38);
  clip-path: circle(9.5rem);
  transition: .5s;
}

.box1 > .circulo:hover ~ img {
  left: calc(16% + 1rem);
}
.box1 > .circulo:hover{
  display: flex;
  width: 100%;
  height: 145%;
  clip-path: circle(48rem);
}
.box2 {
  display: flex;
  width: 100%;
  height: 28rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-family: "Urbanist", sans-serif;
}
.box2 > .ant {
  width: 18rem;
  height: 17rem;
  left: 50%;
  transform: translate(-50%, 40%);
  position: absolute;
  pointer-events: none;
  transition: .5s;
}
.box2 > .circulo {
  width: 100%;
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom right, #2C699A, #ABAC84);
  clip-path: circle(9.5rem);
  transition: .5s;
}

.box2 > .circulo:hover ~ img {
  left: calc(16% + 1rem);
}
.box2 > .circulo:hover{
  display: flex;
  width: 100%;
  height: 145%;
  clip-path: circle(48rem);
}
.box3 {
  display: flex;
  width: 100%;
  height: 26rem;
  margin-top: 13rem;
  margin-bottom: 5rem;
   font-family: "Urbanist", sans-serif;
}
.box3 > .ant {
  width: 18rem;
  height: 17rem;
  left: 50%;
  transform: translate(-50%, 24%);
  position: absolute;
  pointer-events: none;
  transition: .5s;
}
.box3 > .circulo {
  width: 100%;
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom right, #B4ABA5, #847773);
  clip-path: circle(9.5rem);
  transition: .5s;
}

.box3 > .circulo > .texto h4 {
  margin-top: 1rem;
}

.box3 > .circulo:hover ~ img {
  left: calc(16% + 1rem);
}
.box3 > .circulo:hover{
  display: flex;
  width: 100%;
  height: 145%;
  clip-path: circle(47rem);
}
.texto {
  display: block;
  max-width: 100%;
  right: 0;
  opacity: 0;
}
.texto > p {
  text-align: left;
  max-width: 100%;
  margin-left: 35rem;
  color: #ffffff;
  margin-right: 2rem;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
}
.texto h4 {
  color: #ffffff;
  font-size: 2rem;
  margin-left: 4rem;
}
.texto h1{
  max-width: 100%;
  position: relative;
  left: 20%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 6.25rem;
}
.circulo:hover .texto {
  opacity: 1;
}
h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 6.25rem;
}

h2 {
  font-family: "Zen Maru Gothic", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4.0625rem;
}

p {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
}

.barra-de-navegacao a:hover{
  background-color: #ffffff;;
  color: black;
  padding: 7px 25px;
  transition: all 1s ease;
  border-radius: 10px;
}

