.barra-de-navegacao{
  padding: 1rem 2rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 1.25rem;
  background-color:  rgba(0, 0, 0, 0.5);
}

body {
  background-color: #0C2233;
}

.barra-de-navegacao > a{
  color: white;
}

.barra-de-navegacao a:hover{
  background-color: #ffffff;;
  color: black;
  padding: 7px 25px;
  transition: all 1s ease;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

li{
  display: inline-block;
}

a{
  color: white;
  margin: 2.5rem;
}

ul > img{
  float: left;
  margin-right: 0.625rem; 
  color: white;
  width: 2.5rem;
}

h2 {
  color: #ffffff;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.filmes {
  display: flex;
  gap: 4.5rem;
  margin-left: 1rem;
}

.filmes div img:hover{
  border: 5px solid #08084f;
  border-radius: 1rem;
}

.filmes div img{
  width: 10rem;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  background: linear-gradient(-45deg, #0C2233 0%, #0C2233 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card1 {
  position: relative;
  width: 200px;
  height: 300px;
  background: linear-gradient(-45deg, #0C2233 0%, #0C2233 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card2 {
  position: relative;
  width: 200px;
  height: 300px;
  background: linear-gradient(-45deg, #0C2233 0%, #0C2233 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card3 {
  position: relative;
  width: 200px;
  height: 300px;
  background: linear-gradient(-45deg, #0C2233 0%, #0C2233 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card4 {
  position: relative;
  width: 200px;
  height: 300px;
  background: linear-gradient(-45deg, #0C2233 0%, #0C2233 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card img {
  width: 100%;
  height: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
.card1 img {
  width: 100%;
  height: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card2 img {
  width: 100%;
  height: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card3 img {
  width: 100%;
  height: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card4 img {
  width: 100%;
  height: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 600px;
  position: relative;
  margin:  auto;
  padding: 5rem 7rem;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #ff0000;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}

.card a {
  color: #fff;
  font-size: 1rem;
}
.card1 a {
  color: #fff;
  font-size: 1rem;
}
.card2 a {
  color: #fff;
  font-size: 1rem;
}
.card3 a {
  color: #fff;
  font-size: 1rem;
}
.card4 a {
  color: #fff;
  font-size: 1rem;
}
@media screen and (min-width: 1300px){
  .card__description {
    margin: 10px 0 10px;
    font-size: 1rem;
    color: #fff;
    line-height: 1;
  }
  .card1 .card__description {
    margin: 0.1rem;
    font-size: 0.9rem;
    color: #fff;
    line-height: 1;
  }
  .card2 .card__description {
    margin: 0.1rem;
    font-size: 0.8rem;
    color: #fff;
    line-height: 1;
  }
  .card3 .card__description {
    margin: 0.1rem;
    font-size: 0.8rem;
    color: #fff;
    line-height: 1;
  }
  .card4 .card__description {
    margin: 0.1rem;
    font-size: 0.8rem;
    color: #fff;
    line-height: 1;
  }
  .serie .card__description{
    margin: 10px 0 10px;
    font-size: 1rem;
    color: #fff;
    line-height: 1;
  }
  .serie .card1 .card__description{
    margin: 10px 0 10px;
    font-size: 0.8rem;
    color: #fff;
    line-height: 1;
  }
  .jogo .card .card__description{
    margin: 10px 0 10px;
    font-size: 0.8rem;
    color: #fff;
    line-height: 1;
  }
  .jogo .card1 .card__description{
    margin: 10px 0 10px;
    font-size: 0.8rem;
    color: #fff;
    line-height: 1;
  }
}

.serie {
  display: flex;
  gap: 4.5rem;
  margin-left: 1rem;
}
.jogo {
  display: flex;
  gap: 4.5rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1500px){
  .card__description {
    margin: 10px 0 10px;
    font-size: 0.7rem;
    color: #fff;
    line-height: 1;
  }
  .card1 .card__description {
    margin: 0.1rem;
    font-size: 0.7rem;
    color: #fff;
    line-height: 1;
  }
  .card2 .card__description {
    margin: 0.1rem;
    font-size: 0.7rem;
    color: #fff;
    line-height: 1;
  }
  .card3 .card__description {
    margin: 0.1rem;
    font-size: 0.7rem;
    color: #fff;
    line-height: 1;
  }
  .card4 .card__description {
    margin: 0.1rem;
    font-size: 0.7rem;
    color: #fff;
    line-height: 1;
  }
}