.barra-de-navegacao{
  padding: 1rem 2rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 1.25rem;
  background-color:  rgba(0, 0, 0, 0.5);
}


html {
  scroll-behavior: smooth; 
  overflow-y: hidden;
}

.barra-de-navegacao > a{
  color: white;
}

.barra-de-navegacao a:hover{
  background-color: #ffffff;;
  color: black;
  padding: 7px 25px;
  transition: all 1s ease;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

li{
  display: inline-block;
}

a{
  color: white;
  margin: 2.5rem;
}

ul > img{
  float: left;
  margin-right: 0.625rem; 
  color: white;
  width: 2.5rem;

}

.on h1 {
  position: relative;
  z-index: 2;
  color: #ffffff;
  left: 38%;
  top: 3.8rem;
}



#cards {
  display: flex;
  gap: 10rem;
  justify-content: center;
  margin-top: 8rem;
}

#quiz, #jogo-memoria{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  border-radius: 30px;
  padding-inline: 2rem;
  padding-block: 5rem;
  width: 20rem;
  border: 7px solid #11549c;;
  color: #11549c;;
}

#quiz, #jogo-memoria > img{
  width: 10rem;
}

hr{
  border: 1px solid #11549c;
  width: 90%;
}

#jogo-memoria{
  width: 22%;
  background: #CEEDFF;
  position: relative;
  bottom: 2rem;
  z-index: 2;
}

#quiz{
  width: 22%;
  background: #CEEDFF;
  position: relative;
  bottom: 2rem;
  margin-left: 10rem;
  z-index: 2;
}
.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.quiz h3 {
  bottom: 2rem;
}
.quiz h3, hr {
  position: relative;
  margin-bottom: 1rem;
}
.quiz hr {
  bottom: 2rem;
}
.quiz > .aon {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  z-index: -2;
}
.quiz > .ona {
  width: 100%;
  position: absolute;
  bottom: 0.0rem;
  z-index: -1;
}
.pa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  bottom: 20%;
}
.pa h3 {
  margin-top: 5%;
}
.pa hr {
  font-size: 1.5rem;;
  width: 110%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#quiz .reto {
  position: absolute;
  top: 24%;
  margin-top: 1rem;
  bottom: 0;
}

#quiz .omeio {
  position: relative;
  z-index: 1;
  top: 3rem;
}

.pa > .an {
  position: absolute;
  width: 140%;
  z-index: -2;
  top: 12rem;
  bottom: 0;
}
.pa > .na {
  position: absolute;
  width: 139%;
  z-index: -1;
  top: 15.6rem;
  bottom: 0;
}

.cirbaixo img {
  position: absolute;
  width: 30%;
  left: 50rem;
  top: 10rem;
  bottom: 0;
}

.ondi img{
  position: absolute;
  width: 100%;
  top: 28rem;
  margin-bottom: 0;
}
.ondi {
  bottom: 0;
}


#jogo-memoria:hover {
  background: linear-gradient(to bottom right, #c4e4e9, #38afd6);
  cursor: pointer;
}

#quiz:hover {
  background: linear-gradient(to bottom left, #c4e4e9, #38afd6);
  cursor: pointer;
}

#quiz a:hover, #jogo-memoria a:hover{
  text-decoration: underline;
}

button:hover{
  cursor: pointer;
}

h3{
  font-size: 25px;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
  background-image: url(../imagens/imagem-de-fundo-do-jogos.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}


@media screen and (min-width: 1300px) {

  .quiz h3 {
    bottom: 3rem;
  }
  .pa {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;
    text-align: center; */
    position: relative;
    z-index: 1;
    bottom: 20%;
  }
  
  .pa h3 {
    margin-top: -1rem;
  }
  
  .pa hr {
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  #quiz .reto {
    position: absolute;
    width: 13rem;
    height: 16rem;
    top: 24%;
    margin-top: 2rem;
    bottom: 0;
  }

  #quiz .omeio {
    width: 13rem;
    height: 7.5rem;
    position: relative;
    z-index: 1;
  }

  .pa > .an {
    position: absolute;
    width: 135%;
    z-index: -2;
    top: 14.4rem;
    bottom: 0;
  }
  .pa > .na {
    position: absolute;
    width: 128%;
    z-index: -1;
    top: 17.5rem;
    bottom: 0;
  }
}

@media screen and (min-width: 1500px){

  .on h1 {
    left: 40%;
  }

}

@media screen and (min-width: 1600px){

  #cards {
    margin-top: 15rem;
  }


  .on h1 {
    left: 42%;
  }

}

