.barra-de-navegacao{
  padding: 1rem 2rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.25rem;
  background-color:  rgba(0, 0, 0, 0.5);
  z-index: 99999;
}


html {
  scroll-behavior: smooth; 
  overflow-x: hidden;
}

.barra-de-navegacao > a{
  color: white;
}

.barra-de-navegacao a:hover{
  background-color: #53a6ea;;
  padding: 7px 25px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

li{
  display: inline-block;
}

a{
  color: white;
  margin: 2.5rem;
}

ul > img{
  float: left;
  margin-right: 0.625rem; 
  color: white;
  width: 2.5rem;
}
.comeco {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100% 100%);
  background: #C7E7E3;
  color: #001D3D;
}

.comeco h1 {
  position: relative;
  bottom: 10rem;
}
.sol {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: right;
  left: 20%;
  bottom: 15rem;
  width: 627px;
  height: 609px;
  flex-shrink: 0;
  border-radius: 627px;
  background: linear-gradient(180deg, #FFDD87 0%, #FFB905 100%);
}

main {
  margin: 0;
  overflow: hidden;
  background: #C7E7E3;
  height: 49950px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sea h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100% 100%);
  z-index: 100;
  color: #ffffff;
}
.sea {
  position: absolute;
  width: 200%;
  height: 100%;
  background: linear-gradient(180deg, #009AE7 5%, #000 100%);
  overflow-x: hidden;
}

.onda {
  background-color: #C7E7E3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mane {
  position: absolute;
  width: 10%;
  left: 55%;
  display: flex;
  z-index: 1000;
}

.m0 {
  color: var( #fffFFF);
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  bottom: 1rem;
  right: 3rem;
}
.atle {
  position: absolute;
  width: 7%;
  left: 30%;
  display: flex;
  z-index: 1000;
}
.bass {
  position: relative;
  width: 5%;
  top: 0.2%;
  left: 43%;
  display: flex;
  z-index: 1000;
}
.coral {
  position: relative;
  width: 6%;
  left: 63%;
  display: flex;
  z-index: 1000;
  margin-top: 1rem;
}
.peixeur {
  position: relative;
  width: 6%;
  top: 0.6%;
  left: 30%;
  display: flex;
  z-index: 1000;
}
.polo {
  position: relative;
  width: 10%;
  top: 0.3%;
  left: 51%;
  display: flex;
  z-index: 1000;
}
.palha {
  position: relative;
  width: 5%;
  top: 0.5%;
  left: 63%;
  display: flex;
  z-index: 1000;
}
.barra {
  position: relative;
  width: 6%;
  top: 0.3%;
  left: 40%;
  display: flex;
  z-index: 1000;
}
.blutang {
  position: relative;
  width: 5%;
  top: 0.6%;
  left: 53%;
  display: flex;
  z-index: 1000;
}
.crab {
  position: relative;
  width: 3%;
  top: 0.6%;
  left: 30%;
  display: flex;
  z-index: 1000;
}
.cod {
  position: relative;
  width: 6%;
  top: 0.7%;
  left: 40.2%;
  display: flex;
  z-index: 1000;
}
.spinysplay {
  position: relative;
  width: 7%;
  top: 0.8%;
  left: 27%;
  display: flex;
  z-index: 1000;
}
.leaf {
  position: relative;
  width: 7%;
  top: 0.6%;
  left: 63%;
  display: flex;
  z-index: 1000;
}
.mahi {
  position: relative;
  width: 10%;
  top: 0.6%;
  left: 46%;
  display: flex;
  z-index: 1000;
}
.spok {
  position: relative;
  width: 6%;
  top: 0.8%;
  left: 63%;
  display: flex;
  z-index: 1000;
}
.fou {
  position: relative;
  width: 7%;
  top: 0.8%;
  left: 27%;
  display: flex;
  z-index: 1000;
}
.azul {
  position: relative;
  width: 5.5%;
  top: 1%;
  left: 27%;
  display: flex;
  z-index: 1000;
}
.bar {
  position: relative;
  width: 2%;
  top: 0.8%;
  left: 58%;
  display: flex;
  z-index: 1000;
}
.baru {
  position: relative;
  width: 6%;
  top: 1%;
  left: 60%;
  display: flex;
  z-index: 1000;
}
.queen {
  position: relative;
  width: 4.5%;
  top: 1.3%;
  left: 27%;
  display: flex;
  z-index: 1000;
}
.drum {
  position: relative;
  width: 4%;
  top: 2.4%;
  left: 29%;
  display: flex;
  z-index: 1000;
}
.belu {
  position: relative;
  width: 12%;
  top: 0.6%;
  left: 43%;
  display: flex;
  z-index: 1000;
}
.ass {
  position: relative;
  width: 18%;
  top: 0.9%;
  left: 41%;
  display: flex;
  z-index: 1000;
}
.pela {
  position: relative;
  width: 5%;
  top: 1.2%;
  left: 55%;
  display: flex;
  z-index: 1000;
}
.lion {
  position: relative;
  width: 7%;
  top: 1.4%;
  left: 37%;
  display: flex;
  z-index: 1000;
}
.bull {
  position: relative;
  width: 12%;
  top: 1.5%;
  left: 50%;
  display: flex;
  z-index: 1000;
}

.lepto {
  position: relative;
  width: 1.5%;
  top: 1.2%;
  left: 63%;
  display: flex;
  z-index: 1000;
}
.tortu {
  position: relative;
  width: 7%;
  top: 2%;
  left: 45%;
  display: flex;
  z-index: 1000;
}
@media screen and (min-width: 1600px) {
  .onda img {
    width: 50%;
  }
}

@media screen and (min-width: 1900px) {
  .onda img {
    width: 70%;
  }
}


.bubble {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  border-radius: 50%;
  animation: bubble-rise 3s infinite ease-in;
}

.bubble1 {
  left: 10%;
  animation-duration: 150s;
}

.bubble2 {
  left: 20%;
  animation-duration: 140s;
}

.bubble3 {
  left: 30%;
  animation-duration: 60s;
}
.bubble4 {
  left: 40%;
  animation-duration: 130s;
}
.bubble5 {
  left: 50%;
  animation-duration: 120s;
}
.bubble6 {
  left: 60%;
  animation-duration: 80s;
}
.bubble7 {
  left: 70%;
  animation-duration: 70s;
}
.bubble8 {
  left: 80%;
  animation-duration: 99s;
}
.bubble9 {
  left: 90%;
  animation-duration: 95s;
}
.bubble10 {
  left: 99%;
  animation-duration: 50s;
}

@keyframes bubble-rise {
  0% { bottom: 0; opacity: 0; }
  30% { opacity: 1; }
  100% { bottom: 100%; opacity: 0; }
}