.barra-de-navegacao{
  padding: 1rem 2rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.25rem;
  background-color:  rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 6.25rem;
}

h2{
  font-family: "Zen Maru Gothic", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4.0625rem;
}

h3{
  font-family: "Text Me One", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 1rem 0rem;

}

p {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
}

a {
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}


html {
  scroll-behavior: smooth; 
  overflow-x: hidden;
}

.barra-de-navegacao > a{
  color: white;
}

.barra-de-navegacao a:hover{
  background-color: #53a6ea;;
  padding: 7px 25px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

li{
  display: inline-block;
}

a{
  color: white;
  margin: 2.5rem;
}

ul > img{
  float: left;
  margin-right: 0.625rem; 
  color: white;
  width: 2.5rem;
}
.comeco {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100% 100%);
  background: #C7E7E3;
  color: #001D3D;
}

.comeco h1 {
  position: relative;
  bottom: 10rem;
}
.sol {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: right;
  left: 20%;
  bottom: 15rem;
  width: 627px;
  height: 609px;
  flex-shrink: 0;
  border-radius: 627px;
  background: linear-gradient(180deg, #FFDD87 0%, #FFB905 100%);
}

main {
  margin: 0;
  overflow: hidden;
  background: #C7E7E3;
  height: 49950px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sea h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100% 100%);
  z-index: 99999;
  color: #ffffff;
}

.sea h2{
  position: fixed;
  z-index: 99999;
  padding: 10px;
  color: white;
  background-color:  rgba(0, 0, 0, 0.5);

}

.sea {
  position: absolute;
  width: 200%;
  height: 100%;
  background: linear-gradient(180deg, #009AE7 5%, #000 100%);
  overflow-x: hidden;
}

.onda {
  background-color: #C7E7E3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mane {
  position: absolute;
  width: 10%;
  left: 55%;
  display: flex;
  z-index: 1000;
}

.counter {
  color: var( #fffFFF);
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  bottom: 1rem;
  right: 3rem;
}
.atle {
  position: absolute;
  width: 7%;
  left: 30%;
  display: flex;
  z-index: 1000;
}
.bass {
  position: relative;
  width: 5%;
  top: 0.2%;
  left: 43%;
  display: flex;
  z-index: 1000;
}
.coral {
  position: relative;
  width: 6%;
  left: 63%;
  display: flex;
  z-index: 1000;
  margin-top: 1rem;
}
.peixeur {
  position: relative;
  width: 6%;
  top: 0.6%;
  left: 30%;
  display: flex;
  z-index: 1000;
}
.polo {
  position: relative;
  width: 10%;
  top: 0.3%;
  left: 51%;
  display: flex;
  z-index: 1000;
}
.palha {
  position: relative;
  width: 5%;
  top: 0.5%;
  left: 63%;
  display: flex;
  z-index: 1000;
}
.barra {
  position: relative;
  width: 6%;
  top: 0.3%;
  left: 40%;
  display: flex;
  z-index: 1000;
}
.blutang {
  position: relative;
  width: 5%;
  top: 0.6%;
  left: 53%;
  display: flex;
  z-index: 1000;
}
.crab {
  position: relative;
  width: 3%;
  top: 0.6%;
  left: 30%;
  display: flex;
  z-index: 1000;
}
.cod {
  position: relative;
  width: 6%;
  top: 0.7%;
  left: 40.2%;
  display: flex;
  z-index: 1000;
}
.spinysplay {
  position: relative;
  width: 7%;
  top: 0.8%;
  left: 27%;
  display: flex;
  z-index: 1000;
}
.leaf {
  position: relative;
  width: 7%;
  top: 0.6%;
  left: 63%;
  display: flex;
  z-index: 1000;
}
.mahi {
  position: relative;
  width: 10%;
  top: 0.6%;
  left: 46%;
  display: flex;
  z-index: 1000;
}
.spok {
  position: relative;
  width: 6%;
  top: 0.8%;
  left: 63%;
  display: flex;
  z-index: 1000;
}
.fou {
  position: relative;
  width: 7%;
  top: 0.8%;
  left: 27%;
  display: flex;
  z-index: 1000;
}
.azul {
  position: relative;
  width: 5.5%;
  top: 1%;
  left: 27%;
  display: flex;
  z-index: 1000;
}
.bar {
  position: relative;
  width: 2%;
  top: 0.8%;
  left: 58%;
  display: flex;
  z-index: 1000;
}
.baru {
  position: relative;
  width: 6%;
  top: 1%;
  left: 60%;
  display: flex;
  z-index: 1000;
}
.queen {
  position: relative;
  width: 4.5%;
  top: 1.3%;
  left: 27%;
  display: flex;
  z-index: 1000;
}
.drum {
  position: relative;
  width: 4%;
  top: 2.4%;
  left: 29%;
  display: flex;
  z-index: 1000;
}
.belu {
  position: relative;
  width: 12%;
  top: 0.6%;
  left: 43%;
  display: flex;
  z-index: 1000;
}
.ass {
  position: relative;
  width: 18%;
  top: 0.9%;
  left: 41%;
  display: flex;
  z-index: 1000;
}
.pela {
  position: relative;
  width: 5%;
  top: 1.2%;
  left: 55%;
  display: flex;
  z-index: 1000;
}
.lion {
  position: relative;
  width: 7%;
  top: 1.4%;
  left: 37%;
  display: flex;
  z-index: 1000;
}
.bull {
  position: relative;
  width: 12%;
  top: 1.5%;
  left: 50%;
  display: flex;
  z-index: 1000;
}

.lepto {
  position: relative;
  width: 1.5%;
  top: 1.2%;
  left: 63%;
  display: flex;
  z-index: 1000;
}
.tortu {
  position: relative;
  width: 7%;
  top: 2%;
  left: 45%;
  display: flex;
  z-index: 1000;
}
.mike {
  position: relative;
  width: 6%;
  top: 2.2%;
  left: 35%;
  display: flex;
  z-index: 1000;
}
.dext {
  position: relative;
  width: 8%;
  top: 2.3%;
  left: 60%;
  display: flex;
  z-index: 1000;
}
.twilight {
  position: relative;
  width: 15%;
  height: 50%;
  top: 2.5%;
  left: 45%;
  z-index: 1000;
}
.twilight .zone {
  color: #E0B0FF;  
  text-align: center;
  font-family: Oswald;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 38.4px;
  text-transform: uppercase;
  position: relative;
  bottom: 1rem;
  right: 3rem;
}
.pin {
  position: relative;
  width: 15%;
  top: 0.1%;
  left: 35%;
  display: flex;
  z-index: 1000;
}
.wol {
  position: relative;
  width: 50%;
  top: 0.4%;
  right: 70%;
  display: flex;
  z-index: 1000;
}
.had {
  position: relative;
  width: 50%;
  top: 0.1%;
  left: 95%;
  display: flex;
  z-index: 1000;
}
.cc {
  position: relative;
  width: 90%;
  top: 0.5%;
  left: 37%;
  display: flex;
  z-index: 1000;
}
.ke {
  position: relative;
  width: 25%;
  top: 0.5%;
  right: 27%;
  display: flex;
  z-index: 1000;
}
.lag {
  position: relative;
  width: 40%;
  top: 0.7%;
  left: 110%;
  display: flex;
  z-index: 1000;
}

.tt {
  position: relative;
  width: 40%;
  top: 0.8%;
  right: 27%;
  display: flex;
  z-index: 1000;
}

.shark {
  position: relative;
  width: 100%;
  top: 0.9%;
  left: 60%;
  display: flex;
  z-index: 1000;
}
.bd {
  position: relative;
  width: 70%;
  top: 1.7%;
  right: 18%;
  display: flex;
  z-index: 1000;
}

.lu {
  position: relative;
  width: 20%;
  top: 2.5%;
  left: 96%;
  display: flex;
  z-index: 1000;
}

.gum {
  position: relative;
  width: 85%;
  top: 3%;
  right: 24%;
  display: flex;
  z-index: 1000;
}
.tet {
  color: #ffffff;  
  text-align: center;
  font-family: Oswald;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  width: 120%;
  top: 4%;
  right: 70%;
}
.dive {
  position: relative;
  width: 80%;
  top: 3.5%;
  left: 90%;
  display: flex;
  z-index: 1000;
}
.sharkb {
  position: relative;
  width: 80%;
  top: 4%;
  right: 70%;
  display: flex;
  z-index: 1000;
}

.fri {
  position: relative;
  width: 39%;
  top: 4.5%;
  left: 96%;
  display: flex;
  z-index: 1000;
}
.bt {
  position: relative;
  width: 50%;
  top: 5.6%;
  left: 37%;
  display: flex;
  z-index: 1000;
}
.angel {
  position: relative;
  width: 25%;
  top: 7.4%;
  right: 70%;
  display: flex;
  z-index: 1000;
}
.text {
  color: #ffffff;  
  text-align: center;
  font-family: Oswald;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  top: 7.6%;
  right: 100%;
}
.angel {
  position: relative;
  width: 25%;
  top: 7.4%;
  right: 70%;
  display: flex;
  z-index: 1000;
}
.cs {
  position: relative;
  width: 35%;
  top: 8%;
  left: 90%;
  display: flex;
  z-index: 1000;
}
.mako {
  position: relative;
  width: 85%;
  top: 8.9%;
  right: 24%;
  display: flex;
  z-index: 1000;
}
.ep {
  position: relative;
  width: 39%;
  top: 9.8%;
  left: 50%;
  display: flex;
  z-index: 1000;
}
.esp {
  position: relative;
  width: 85%;
  top: 10.6%;
  right: 24%;
  display: flex;
  z-index: 1000;
}
.nau {
  position: relative;
  width: 13%;
  top: 11.5%;
  left: 110%;
  display: flex;
  z-index: 1000;
}
.bc {
  position: relative;
  width: 40%;
  top: 14%;
  right: 0%;
  display: flex;
  z-index: 1000;
}
.sun {
  position: relative;
  width: 25%;
  top: 12.4%;
  right: 70%;
  display: flex;
  z-index: 1000;
}
.japa {
  position: relative;
  width: 60%;
  top: 16%;
  right: 0%;
  display: flex;
  z-index: 1000;
}
.teti {
  color: #ffffff;  
  text-align: center;
  font-family: Oswald;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  width: 150%;
  top: 16.2%;
  right: 40%;
}
.coe {
  position: relative;
  width: 60%;
  top: 19%;
  right: 0%;
  display: flex;
  z-index: 1000;
}
.t {
  color: #ffffff;  
  text-align: center;
  font-family: Oswald;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  width: 150%;
  top: 19.1%;
  right: 10%;
}
.kc {
  position: relative;
  width: 30%;
  top: 20%;
  left: 110%;
  display: flex;
  z-index: 1000;
}
.gp {
  position: relative;
  width: 60%;
  top: 21%;
  right: 10%;
  display: flex;
  z-index: 1000;
}
.go {
  position: relative;
  width: 70%;
  top: 22%;
  right: 0%;
  display: flex;
  z-index: 1000;
}
.te {
  color: #ffffff;  
  text-align: center;
  font-family: Oswald;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  width: 150%;
  top: 22.2%;
  right: 40%;
}
.ma {
  position: relative;
  width: 45%;
  top: 23%;
  right: 40%;
  display: flex;
  z-index: 1000;
}
.co {
  position: relative;
  width: 44%;
  top: 24%;
  left: 105%;
  display: flex;
  z-index: 1000;
}
.me {
  position: relative;
  width: 10%;
  top: 24.4%;
  right: 40%;
  display: flex;
  z-index: 1000;
}
.vi {
  position: relative;
  width: 30%;
  top: 25.8%;
  left: 85%;
  display: flex;
  z-index: 1000;
}
.sper {
  position: relative;
  width: 135%;
  top: 27.3%;
  right: 30%;
  display: flex;
  z-index: 1000;
}
.trugia {
  position: relative;
  width: 65%;
  top: 28.5%;
  right: 90%;
  display: flex;
  z-index: 1000;
}
.tex {
  color: #ffffff;  
  text-align: center;
  font-family: Oswald;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  width: 150%;
  top: 28.2%;
  left: 35%;
}
.bbw {
  position: relative;
  width: 100%;
  top: 29.4%;
  display: flex;
  z-index: 1000;
}
.mid {
  position: relative;
  width: 15%;
  height: 50%;
  top: -24.5%;
  left: 45%;
  z-index: 1000;
}
.mid .zone {
  color: #E0B0FF;  
  text-align: center;
  font-family: Oswald;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 38.4px;
  text-transform: uppercase;
  position: relative;
  bottom: 0rem;
  left: -18%;
}
.t1 {
  color: #ffffff;  
  text-align: center;
  font-family: Oswald;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  width: 150%;
  top: 0.5%;
  left: -25%;
}
.t2 {
  color: #ffffff;  
  text-align: center;
  font-family: Oswald;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  width: 150%;
  top: 0.8%;
  left: -25%;
}
.angle {
  position: relative;
  width: 25%;
  top: 2.3%;
  right: 40%;
  display: flex;
  z-index: 1000;
}
.t3 {
  color: #ffffff;  
  text-align: center;
  font-family: Oswald;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  width: 110%;
  top: 2.5%;
  left: -24%;
}
@media screen and (min-width: 1600px) {
  .onda img {
    width: 50%;
  }
}

@media screen and (min-width: 1900px) {
  .onda img {
    width: 70%;
  }
}


.bubble {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  border-radius: 50%;
  animation: bubble-rise 3s infinite ease-in;
}

.bubble1 {
  left: 10%;
  animation-duration: 150s;
}

.bubble2 {
  left: 20%;
  animation-duration: 140s;
}

.bubble3 {
  left: 30%;
  animation-duration: 60s;
}
.bubble4 {
  left: 40%;
  animation-duration: 130s;
}
.bubble5 {
  left: 50%;
  animation-duration: 120s;
}
.bubble6 {
  left: 60%;
  animation-duration: 80s;
}
.bubble7 {
  left: 70%;
  animation-duration: 70s;
}
.bubble8 {
  left: 80%;
  animation-duration: 99s;
}
.bubble9 {
  left: 90%;
  animation-duration: 95s;
}
.bubble10 {
  left: 99%;
  animation-duration: 50s;
}

@keyframes bubble-rise {
  0% { bottom: 0; opacity: 0; }
  30% { opacity: 1; }
  100% { bottom: 100%; opacity: 0; }
}