.barra-de-navegacao{
  padding: 1rem 2rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 1.25rem;
  background-color:  rgba(0, 0, 0, 0.5);
}

body{
  background-image: url(../imagens/fundo\ material\ de\ apoio.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.barra-de-navegacao > a{
  color: white;
}

.barra-de-navegacao a:hover{
  background-color: #53a6ea;;
  padding: 7px 25px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

li{
  display: inline-block;
}

a{
  color: white;
  margin: 2.5rem;
}

ul > img{
  float: left;
  margin-right: 0.625rem; 
  color: white;
  width: 2.5rem;

}

.on h1 {
  position: relative;
  z-index: 2;
  color: #ffffff;
  left: 32%;
  top: 5rem;
  font-size: 3rem;
}


#cards {
  display: flex;
  gap: 10rem;
  justify-content: center;
  margin-top: 8rem;
}

#mar-prof, #filmes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  border-radius: 30px;
  padding-inline: 2rem;
  padding-block: 5rem;
  width: 20rem;
  color: #11549c;;
}

hr{
  border: 1px solid #11549c;
  width: 90%;
}

#filmes{
  width: 22%;
  background: #CEEDFF;
  position: relative;
  z-index: 2;
}

#mar-prof{
  width: 22%;
  background: #CEEDFF;
  position: relative;
  margin-left: 10rem;
  z-index: 2;
}
.filme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.filme h3 {
  bottom: 2rem;
}
.filme h3, hr {
  position: relative;
}
.filme hr {
  bottom: 2rem;
}

.Mar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  position: relative;
}
.Mar h3, hr {
  bottom: 7rem;
}
.Mar h3 {
  position: relative;
}
.Mar hr {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  z-index: 0;
}

.Mar .omeio {
  width: 200%;
  position: absolute;
  z-index: 0;
}

#filmes:hover {
  background: linear-gradient(to bottom right, #c4e4e9, #38afd6);
  cursor: pointer;
}

#mar-prof:hover {
  background: linear-gradient(to bottom left, #c4e4e9, #38afd6);
  cursor: pointer;
}

#mar-prof a:hover, #filmes a:hover{
  text-decoration: underline;
}

button:hover{
  cursor: pointer;
}

h3{
  font-size: 25px;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 1300px) {
  .Mar .mare {
    margin-top: 8rem;
  }

  .Mar .omeio {
      margin-top: 9.5rem;
  }
  
}

@media screen and (min-width: 1500px) {
    .Mar .mare {
        width: 178%;
        margin-top: 3.5rem;
    }

  .Mar .omeio {
      width: 178%;
      margin-top: 5rem;
  }

  .on h1 {
    left: 20%;
  }

  
}

@media screen and (min-width: 1600px) {
  .on h1 {
    left: 36%;
  }


  #cards {
    margin-top: 10rem;
  }

  .Mar .mare {
    width: 200%;
  }

  .Mar .omeio {
    width: 190%
  }
}

@media screen and (min-width: 1900px) {
  .on h1 {
    left: 38.5%;
  }
}