.barra-de-navegacao{
  padding: 1rem 2rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 1.25rem;
  background-color:  rgba(0, 0, 0, 0.5);
}

.barra-de-navegacao > a{
  color: white;
}

/* body{
  background-image: url(../imagens/fundo-jogo-da-memoria.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
} */

.barra-de-navegacao a:hover{
  background-color: #ffffff;;
  color: black;
  padding: 7px 25px;
  transition: all 1s ease;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

li{
  display: inline-block;
}

a{
  color: white;
  margin: 2.5rem;
}

ul > img{
  float: left;
  margin-right: 0.625rem; 
  color: white;
  width: 2.5rem;
}
.texto {
  position: relative;
  align-items: center;
  justify-content: center;
  top: -1rem;
  left: -1rem;
  z-index: 100;
}
.texto h2{
  position: relative;
  margin-bottom: 1rem;
  left: 4rem;
  width: 40%;
  bottom: 20rem;
}
.texto p {
  position: relative;
  left: -1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #027EA7;
}

.texto a {
  position: relative;
  left: -4rem;
  top: -1rem;
  background-color: #027EA7;
}
.ond {
  display: flex;
  max-width: 100%;
}
.ond .ondb{
  width: 100%;
  height: 16%;
  display: flex;
  position: absolute;
  bottom: 0rem;
  z-index: 1;
}
.ond .ondba{
  width: 100%;
  height: 24%;
  display: flex;
  position: absolute;
  bottom: 0rem;
}

.ond .ondd{
  width: 100%;
}

@media screen and (min-width: 1500px){
  
  .texto h2 {
      left: 13rem;
      width: 30%;
  }

  .texto{
    top: 0rem;
  }

  .texto p {
    left: 4rem;
  }

  .texto a {
    left: 3.5rem;
    top: -1rem;
  }
  
}

@media screen and (min-width: 1600px) {
  
  .texto h2 {
    left: 14rem;
    width: 30%;
  }

  .texto{
  top: 0rem;
  }

  .texto p {
  left: 4rem;
  margin-top: 3rem;
  }

  .texto a {
  left: 4rem;
  top: 2rem;
  }
  
}


@media screen and (min-width: 1900px) {
  .texto h2 {
    left: 23rem;
    width: 30%;
    bottom: 15rem;
  }

  .texto{
  top: 0rem;
  }

  .texto p {
    left: 12rem;
    margin-top: 3rem;
    bottom: 15rem;
  }

  .texto a {
    left: 16.5rem;
    top: -18rem;
    display: flex;
  }
}