.barra-de-navegacao{
  padding: 1rem 2rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 1.25rem;
  background-color:  rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

li{
  display: inline-block;
}

a{
  color: white;
  margin: 2.5rem;
}

ul > img{
  float: left;
  margin-right: 0.625rem; 
  color: white;
  width: 2.5rem;
}


.comeco img{
  width: 100%;
  height: 62.5rem;
}

.comeco h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  color: #fff;
  opacity: 75%;
  font-size: 9.375rem;
}

.texto-alto{
  width: 31.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 35%;
  color: #fff;
  font-size: 1.375rem;
  text-align: center;
}

.onda-azul img{
  width: 100%;
  height: 70%;
  position: relative;
  bottom: 0.625rem;
}

.conteudo-container{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.CG h2{
  font-size: 4.375rem;
  text-align: center;
}
.CG p{
  width: 50%;
  position: relative;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classificacao h3{
  font-size: 1.875rem;
  text-align: center;
}

.classificacao p{
  width: 50%;
  position: relative;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
}

.Respiração h3{
  font-size: 1.5625rem;
  text-align: center;

}

.Respiração p{
  width: 50%;
  position: relative;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
}

.RP h3{
  font-size: 1.5625rem;
  text-align: center;
}

.RP p{
  width: 50%;
  position: relative;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
}

.Reprodu h3{
  font-size: 1.5625rem;
  text-align: center;
}

.Reprodu p{
  width: 50%;
  position: relative;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
}

hr{
  border: 0.0625rem solid black;
  width: 55%;
  margin: 0 20.625rem;
  margin-bottom: 3.125rem;
}

.ondinha img{
  width: 100%;
  display: flex;
}

.box {
  display: flex;
  width: 100%;
  height: 20rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.box > .ant {
  width: 17rem;
  height: 17rem;
  left: 49%;
  transform: translate(-50%, 7%);
  position: absolute;
  pointer-events: none;
  transition: .5s;
}
.box > .circulo {
  width: 100%;
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom right, #676449, #170A14);
  clip-path: circle(9.5rem);
  transition: .5s;
}

.box > .circulo:hover ~ img {
  left: calc(16% + 1rem);
}
.box > .circulo:hover{
  display: flex;
  width: 100%;
  height: 145%;
  clip-path: circle(45rem);
}
.texto {
  display: block;
  max-width: 100%;
  right: 0;
  opacity: 0;
}
.texto > ul {
  text-align: left;
  max-width: 100%;
  margin-left: 40rem;
  font-size: 1rem;
  color: #ffffff;
}
.texto h4 {
  color: #ffffff;
  font-size: 2rem;
}
.texto h1{
  max-width: 100%;
  position: relative;
  left: 20%;
  font-size: 4rem;
  color: #ffffff;
}
.circulo:hover .texto {
  opacity: 1;
}
.box1 {
  display: flex;
  width: 100%;
  height: 22rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.box1 > .ant {
  width: 20rem;
  height: 19rem;
  left: 47%;
  transform: translate(-50%, 5%);
  position: absolute;
  pointer-events: none;
  transition: .5s;
}
.box1 > .circulo {
  width: 100%;
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom right, #636C6C, #6C8D8D);
  clip-path: circle(9.5rem);
  transition: .5s;
}

.box1 > .circulo:hover ~ img {
  left: calc(16% + 1rem);
}
.box1 > .circulo:hover{
  display: flex;
  width: 100%;
  height: 145%;
  clip-path: circle(45rem);
}
.box2 {
  display: flex;
  width: 100%;
  height: 21rem;
  margin-top: 11rem;
  margin-bottom: 5rem;
}
.box2 > .ant {
  width: 16rem;
  height: 19rem;
  left: 49%;
  transform: translate(-50%, 1%);
  position: absolute;
  pointer-events: none;
  transition: .5s;
}
.box2 > .circulo {
  width: 100%;
  position: relative;
  height: 90%;
  background: linear-gradient(to bottom right, #C3A47F, #A14806);
  clip-path: circle(9.5rem);
  transition: .5s;
}
.box2 > .circulo:hover ~ img {
  left: calc(16% + 1rem);
}
.box2 > .circulo:hover{
  display: flex;
  width: 100%;
  height: 145%;
  clip-path: circle(45rem);
}
.texto {
  display: block;
  max-width: 100%;
  right: 0;
  opacity: 0;
}
.texto > p {
  text-align: left;
  max-width: 100%;
  margin-left: 40rem;
  font-size: 1rem;
  color: #ffffff;
}
.texto h4 {
  color: #ffffff;
  font-size: 2rem;
}
.texto h1{
  max-width: 100%;
  position: relative;
  left: 20%;
  font-size: 4rem;
  color: #ffffff;
}
.circulo:hover .texto {
  opacity: 1;
}

h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 6.25rem;
}

h2 {
  font-family: "Zen Maru Gothic", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4.0625rem;
}

p {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
}

.barra-de-navegacao a:hover{
  background-color: #ffffff;;
  color: black;
  padding: 7px 25px;
  transition: all 1s ease;
  border-radius: 10px;
}

/* background: linear-gradient(to left right, #c4e4e9, #38afd6); */