.container {
  align-items: center;
  justify-content: center;
}

#answers-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-items: center;
}

body{
  overflow-x: hidden;
}

.hide {
  display: none !important;
}

#correct-answers {
  font-weight: bold;
  color: #2eb94c;
}

#questions-qty {
  font-weight: bold;
  color: #00c9c8;
}

#restart {
  background-color: #00c9c8;
  color: #fff;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 1.8rem;
  width: 200px;
  text-transform: uppercase;
  position: relative;
  top: 1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#restart:hover {
  background-color: #2a272a;
  color: #ffffff;
}

/* Quizz container */
#question {
  text-align: center;
  margin-bottom: 70px;
  font-size: 20px;
  color: #0F5B85;
  opacity: 65%;
  font-weight: bold;
}

#answers-box button {
  display: flex;
  align-items: center;
  margin: 0;
  width: 50%;
  height: 4rem;
  border: none;
  text-align: left;
  color: #00263A;
  background-color: #80B4C6;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 1rem;
}

#answers-box button:hover {
  border: 3px solid #729dac;
}

#answers-box .btn-letter {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #A5CBD8;
  height: 2.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4rem;
  padding: 1rem;
  max-width: 2.7rem;
  border: 1px solid #A5CBD8;
  border-radius: 0.3rem;

}

.question-answer {
  flex: 1 1 0;
  display: flex;
  padding: 10px 0;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
  color: #062351;
}

#quizz-container .wrong-answer,
#quizz-container .wrong-answer .btn-letter {
  background-color: #e62210;
  color: #fff;
  border: none;
}

#quizz-container .correct-answer,
#quizz-container .correct-answer .btn-letter {
  background-color: #2eb94c;
  color: #fff;
  border: none;
}

.header {
  background-color: #004a75;
  height: 5rem;
  padding: 1rem;
  border-radius: 20px 20px 0 0;
  text-align: center;
  position: relative;
}

#progress-bar-container {
  background-color: #ffffff;
  height: 2.5rem;
  width: 50%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 6.4rem;
  padding: 5px;
  border: 3px solid #0e2e3f;
  border-radius: 50px;
}

#progress-bar {
  height: 2.11rem;
  width: 0%;
  left: -0.34rem;
  position: relative;
  background-color: #003354;
  border-radius: 1.2rem;
  transition: width 0.5s;
}

.question-count {
  position: absolute;
  font-size: 16px;
  color: #ffffff;
  margin-top: 0.1rem;
  margin-left: 3.5rem;
}

#progress-bar-container .question-count {
  margin-left: 40%;
  margin-top: 12rem;
  font-size: 2rem;
  color: #A5CBD8;
  font-family: "Sniglet", system-ui;
}

#score-container a {
  background-color: #00c9c8;
  color: #fff;
  height: 0.75rem;
  border: 1px solid #e0e0e0;
  border-radius: 1.7rem;
  position: relative;
  top: 5rem;
  padding: 0.6rem;
  margin: 1.2rem;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#score-container a:hover {
  background-color: #2a272a;
  color: #ffffff;
}

#score-container h2, p{
  text-align: center;
}

#score-container{
  width: 100%;
  height: 39rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 0.5rem;
  border-radius: 2.5rem;
  border: 0.5rem solid #0162A3;
  background: #E8E8E8;
  margin: 0;
  z-index: 1;
}

.onc img{
  display: flex;
  widht: 100%;
  height: 35%;
  margin-top: -5rem;
  margin-left: -20rem;
  position: absolute;
}

.onq img {
  width: 100%;
  height: 10rem;
  margin-top: 2rem;
}

@media screen and (min-width: 1500px) {
  .onq img {
    margin-top: 9.3rem;
  }
}
@media screen and (min-width: 1300px) {
  #progress-bar-container .question-count {
    margin-left: 35%;
    margin-top: 7rem;
    font-size: 2rem;
    color: #A5CBD8;
    font-family: "Sniglet", system-ui;
  }
}
